h3 {
    text-align: center;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    gap: 1em;
}

form label {
    background-color: grey;
    box-shadow: 0px 0px 3px white;
    padding: .2em;
    border-radius: 3px;
    color: rgb(18, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/*****Monitor*/
body:has(#monitor:checked) article article:nth-of-type(2) div:nth-of-type(3) {
    /* background-color: green; */
    background-image: url(/desktop/imgs/bg\ img.jpg);
    background-size: cover;
    flex-direction: column;
    transition: background-position 0.5s ease-in-out;
}

article article:nth-of-type(2) div:nth-of-type(3):hover {
    background-image: url(/desktop/imgs/bg\ img.jpg);
    background-size: cover;
    flex-direction: column;
    transition: background-position 0.5s ease-in-out;

}


/** Keyboard**/

body:has(#keyboard:checked) article:nth-of-type(6) ul {
    border: 2px solid lime;
    /* display: inline-block; */

}



@keyframes rotateContent {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*** Keyboard**/

body:has(#keyboard:checked) article:nth-of-type(6) ul li {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, yellow, green, red, orange);
    animation: keyPressAnimation 0.3s ease-in-out infinite;


}

article:nth-of-type(6) ul li:hover {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, yellow, green, red, orange);
    animation: keyPressAnimation 0.3s ease-in-out infinite;
}





@keyframes keyPressAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/***Typing***/

body:has(#keyboard:checked) article article:nth-of-type(2) div:nth-of-type(3) p {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation:

        typing 10s forwards;
    /* font-size:1.2rem; */
    width: 0;
    display: block;

}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 80%
    }
}



/***Lamp***/


body:has(#lamp:checked) article:nth-of-type(4) div:nth-of-type(1) {
    box-shadow: 0px 0px 100px 500px rgba(42, 214, 188, 0.258);
    background-color: rgb(0, 255, 238);

}

/***Laptop**/
body:has(#laptop:checked) article:nth-of-type(7) div:nth-of-type(1) {
    /* background-color: green; */
    background-image: url(/desktop/imgs/bg\ img.jpg);
    background-size: contain;
    flex-direction: column;
    transition: background-position 0.5s ease-in-out;
    
}