article:nth-of-type(5) {
    display: flex;
    justify-content: end;
    align-items: end;

}

article:nth-of-type(5) div:nth-of-type(1) {
    position: absolute;

    right: 20em;
    width: 4em;
    height: 1.5em;
    background-color: rgb(71, 69, 69);
    box-shadow: 1px 3px 2px black;
    background-size: 50px 50px;
    transform-style: preserve-3d;
    transform: perspective(100px) rotateX(20deg) translateZ(5px) translateY(100px);

}