article:nth-of-type(5) {
    display: flex;
    justify-content: end;
    align-items: end;

}

article:nth-of-type(5) div:nth-of-type(1) {
    position: absolute;
    right: 20em;
    width: 4em;
    height: 1.5em;
    background-color: rgb(71, 69, 69);
    border: green;
    box-shadow: 1px 3px 2px black;
    background-size: 50px 50px;
    transform-style: preserve-3d;
    transform: perspective(150px) rotateX(20deg) translateZ(5px) translateY(100px);
}


article:nth-of-type(5) div:nth-of-type(2) {
    width: 20px;
    height: 30px;
    background-color: #807a7a;
    border-radius: 50% 50% 30% 30%;
    position: relative;
    right: 20em;
    cursor: none;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 5px black;
    transform: perspective(600px) rotateX(20deg) translateZ(5px) translateX(-15px) translateY(130px);
}



article:nth-of-type(5) div:nth-of-type(1):hover {
    background-color: green !important;
}



/* 

@keyframes mouseAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(20px);
    }
} */