/**Table **/

h1 {
    text-align: center;
}

article:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**Surface**/

article article div:nth-of-type(1) {
    position: absolute;
    top: 15em;
    height: 110px;
    width: 550px;
    background: var(--table-background-color);
    transform-style: preserve-3d;
     transform: perspective(100px) translateZ(25px) translateY(5px)  rotateX(20deg)  ;

}


/*edge**/

article article div:nth-of-type(2) {
    position: absolute;
    top: 23.8em;
    background-color: var(--edge-color);
    height: 30px;
    width: 987px;
}

/***Cabinet 1 **/
article article div:nth-of-type(3) {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25.6em;
    right: 12em;
    border: 1px solid white;
    width: 180px;
    height: 40px;
    background-color: var(--table-background-color);
    box-shadow: inset 2px x3p 5px black;
    overflow: hidden;

} */

 article article div:nth-of-type(3)>figure {
    position: absolute;
    background-color: red;
    width: 2em;
    border-radius: 1em;
    height: 1em;
    transform: rotate(0deg);

} 


/***Cabinet 2 **/
 article article div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28em;
    right: 12em;
    border: 1px solid white;
    width: 180px;
    height: 40px;
    background-color: var(--table-background-color);


} 

article article div:nth-of-type(4)>figure {
    position: absolute;
    background-color: black;
    width: 2em;
    border-radius: 1em;
    height: 1em;
    transform: rotate(0deg);
   

} 

/***Cabinet 3 **/
 article article div:nth-of-type(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30.5em;
    right: 12em;
    border: 1px solid white;
    width: 180px;
    height: 40px;
    background-color: var(--table-background-color);

} 

 article article div:nth-of-type(5)>figure {
    position: absolute;
    background-color: black;
    width: 2em;
    border-radius: 1em;
    height: 1em;
    transform: rotate(0deg);

} 


/***left leg en right **/
article article div:nth-of-type(6),
div:nth-of-type(7) {
    position: absolute;
    top: 24.8em;
    width: 2em;
    height: 10em;
    background-color: var(--edge-color);

} 


/***left leg **/
article article div:nth-of-type(6) {
    left: 10em;
}

article article div:nth-of-type(7) {
    right: 10em; 
} 


